<!-- <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h4>Forecast by City</h4>
        <select ng-model="city" class="form-control">
			<option ng-repeat="x in cities" value="{{x}}">{{x}}</option>
		</select>
		<hr/>
        <a href="#/forecast" class="btn btn-primary">Get Forecast</a>
    </div>
</div> -->
<ul class="toplist">
    <li class="toplisti" ng-repeat="val in menuItems">
        <div class="dropbtn" ng-class="{ active: menuItems.indexOf(val) == 0 }"> {{ val }} </div>
    </li>
</ul>
<br>
<div class="container">
	<button id="btn-left" class="btn btn-success" ng-click="selected = selected - 1">←</button>
	<button id="btn-right" class="btn btn-success" ng-click="selected = selected + 1">→</button>
</div>
<div id="" class="sendToGrave"></div>
<div id="" class="verticalLine"></div>